* {
    font-family: sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
}
img {
    max-width: 100%;
}
#title-card {
    font-size: 2rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5rem 5rem;
}
.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    padding: 1.5rem 0;
}
.intro {
    background-color: #ededed;
    border-radius: 15px;
    padding: 1rem 1rem;
}
.experiencie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.employe {
    padding: 0 15px 15px;
    border-radius: 15px;
}
.b3 , .ntt ,.added {
    background: #f9f9f9;
}
.image-profile {
    height: 300px;
    border-radius: 150px;
}
.btn {
    border: 1px solid #2e2e2d;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    background: #2e2e2d;
    color: white;
    cursor: pointer;
}
.social-media img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}
.tecnologias img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}
.tecnologias {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 15px;
    
}
.certificacoes{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.list {
    list-style-type: none;
}
@media(max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        margin: 0 auto;
        text-align: center;
    }
    .experiencie {
        grid-template-columns: 1fr;
    }
    .me {
        padding: 0;
    }
}
